.navbar-container {
    background-color: $bg-dark;
    display: flex;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    color: $bg-light;
    box-shadow: inset 1px -32px 43px rgba(0, 0, 0, 0.2); 
    .item {
        flex-grow: 1;
    }
    .date-container {
        display: flex;
        padding: 1rem;
        flex-direction: column; 
        .current-date {
            font-size: 26px;
            font-weight: 500;
        }
        .active-task {
            font-size: 16px;
            padding-top: 1rem;
            font-weight: 200;
        }
    }
    .title{
        margin-left: 4rem;
        font-size: 36px;
        font-weight: 600;        
    }
    .settings {
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }
}